<h1>Workspace</h1>

<p>Witaj <%= @user.name %>,</p>

<p>
Witaj na Workspace! Klliknij w link pod spodem, aby aktywować swoje konto:
</p>

<%= link_to "Aktywuj konto", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
